@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_LayoutHomeNew.cshtml";
}
<style>
    .message { color: #fff; font-size: 25px; margin: 0 auto; position: absolute; text-align: center; top: 250px; width: 100%; }
    hr.top { border: 1px solid #fff; color: #fff; position: absolute; text-align: center; top: 79px; width: 100%; }
    .back-home { background:black}
</style>
<hr class="top" />
<div class="message">
    The page you are requested is not found or is moved to some other location.
</div>
