<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Entities"
  connectionString="Data Source=TECH-PC;Initial Catalog=CodeFirstApp;Integrated Security=True;"
  providerName="System.Data.SqlClient"/>-->
    <!--<add name="Entities" connectionString="metadata=res://*/STRATEGYEntities.csdl|res://*/STRATEGYEntities.ssdl|res://*/STRATEGYEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=EMPMGMTX;persist security info=True;user id=empmgmt;password=empmgmt12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/STRATEGYEntities.csdl|res://*/STRATEGYEntities.ssdl|res://*/STRATEGYEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=EMPMGMTX;persist security info=True;user id=sa;password=admin12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/STRATEGYEntities.csdl|res://*/STRATEGYEntities.ssdl|res://*/STRATEGYEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=EMPMGMTX_Test;persist security info=True;user id=sa;password=admin12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/STRATEGYEntities.csdl|res://*/STRATEGYEntities.ssdl|res://*/STRATEGYEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.94.156.145,2856;initial catalog=Strategy;persist security info=True;user id=strategy12345;password=strategy12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="recaptchaPublicKey" value="6LeFI-kSAAAAAI3wKNs6-pK-U0FG0HCDn-a4aMZ-" />
    <add key="recaptchaPrivateKey" value="6LeFI-kSAAAAAPMwmt3DpntZ6SiSO3AsfWkT0KYl" />
    <!-- EMail Setting-->
    <add key="EMailID" value="MENTIONED IN SERVICE" />
    <add key="EmailFromName" value="EMPMGMT Deployment - No Reply " />
    <add key="SMTPHostName" value="MENTIONED IN SERVICE" />
    <add key="SMTPUserName" value="MENTIONED IN SERVICE" />
    <add key="SMTPPassword" value="MENTIONED IN SERVICE" />
    <add key="EnableSSL" value="MENTIONED IN SERVICE" />
    <add key="MailTemplateFolder" value="/MailTemplates/" />
    <add key="WebsiteLoginURL" value="http://server/" />
    <!-- End EMail Setting-->
    <add key="Sub-AdminProfileId" value="4" />
    <add key="ProfileThumbnailResizeWidth" value="150" />
    <add key="ProfileThumbnailResizeHeight" value="150" />
    <!--Pagination Settings-->
    <add key="PageSize" value="10" />
    <!--Pagination Settings-->
    <add key="DefaultUserCulture" value="en-GB" />
    <!--Culture Specific Doc Paths  192.168.1.111:81!-->
    <add key="WebsiteUrl" value="http://server/" />
    <add key="WebsiteLogoPath" value="" />
    <add key="RouteDebugger:Enabled" value="false" />
    <!--<add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="STRATEGY.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />-->
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="STRATEGY.Web" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
  </appSettings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Site/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mailservice.sensationsolutions.com/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="EmailService.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <elmah></elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>