@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout.mapping.js")"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/knockout.validation.min.js")"></script>
    <script src="~/Scripts/file-upload/jquery.uploadfile.js"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/file-upload/jquery.form.js")"></script>
    <link href="~/Scripts/file-upload/uploadfile.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/EMPMGMT.Admin/EMPMGMT.Admin.AdminProfile.js")" type="text/javascript"></script>

    <script src="~/Scripts/Popup.js"></script>
    <link href="~/Content/css/uploadfile.css" rel="stylesheet" />
    <link href="~/Content/css/popbox.css" rel="stylesheet" />
}

@section ReadyScripts
{
EMPMGMT.Admin.AdminProfile.pageLoad();
}
@*<style >
    .ajax-file-upload input[type="file"] {
        background-image: url("/content/images/undercontruction_.jpg");
    }

</style>*@
<h2>Admin Profile</h2>


<div style="clear: both"></div>
<div id="editUserProfileDetail"  >
   
    <div class="userProfile  w40pc">
        <div class="control-container" data-bind="validationOptions: { insertMessages: false }">
            <div class="left-container">First Name</div>
            <div class="right-container">
                <div class="error-container"><span data-bind="validationMessage: txtFirstName"></span></div>
                <input class="input-type-text" maxlength="30" data-bind="value:txtFirstName" placeholder="" />
            </div>
        </div>
        <div class="clear"></div>

        <div class="control-container">
            <div class="left-container">Last Name</div>
            <div class="right-container">
                <div class="error-container"><span></span></div>
                <input class="input-type-text" maxlength="30" data-bind="value:txtLastName" placeholder="" />
            </div>
        </div>
      <div class="clear"></div>
        <div class="control-container" data-bind="validationOptions: { insertMessages: false }">
            <div class="left-container">Email Id</div>
            <div class="right-container">
                <div class="error-container"><span data-bind="validationMessage: txtEmailId"></span></div>
                <input class="input-type-text"  maxlength="50"  readonly="readonly" data-bind="value:txtEmailId" placeholder="" />
            </div>
        </div>
      <div class="clear"></div>
 <div class="control-container">
            <div class="left-container"></div>
            <div class="right-container">
                 <input type="button" class="button" data-bind="click:EditUserProfile" value="Update" />
            <input type="button" class="button" data-bind="click:CancelEdit" value="Cancel" />
            </div>
        </div>
      <div class="clear"></div>
   @*     <br />
        <br />
        <div class="form-button floatlef ">
            <input type="button" class="button" data-bind="click:EditUserProfile" value="Update" />
            <input type="button" class="button" data-bind="click:CancelEdit" value="Cancel" />
        </div>
        <div class="clear"></div>*@
    </div>
     <div class="userProfile  w40pc">

        <img class="userProfile-img" alt="" data-bind="attr:{src:imgImageURL}" id="ProfileImage1" />
        <input type="file" data-bind="value:ProfileImage" id="fileupload" name="file" />

    </div>
    <div class="clear"></div>
</div>
