@{
    
    Layout = "~/Views/Shared/_LayoutHomeNew.cshtml";
}
<title>EMPMGMT Deployment | Contact Us </title>

<div class="form-section wrapper">
	<div class="form">
		<p>FEEDBACK</p>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone"><br>
        <textarea placeholder="Message"></textarea><br>
        <input type="button" value="send" class="send-button" />
    </div>
    <div class="map">
		<p class="find">HOW TO FIND US</p>
        <img src="~/Content/images/map.png" alt="" title="">
        <p class="text">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. PRAESENT VESTIBULUM MOLESTIE LACUS. 
			AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE SUSCIPIT VARIUS MI. CUM SOCIIS NATOQUE 
			PENATIBUS ET MAGNIS DIS PARTURIENT MONTES, NASCETUR. RIDICULUS MUS. NULLA DUI. FUSCE FEUGIAT 
			MALESUADA ODIO. MORBI NUNC ODIO, GRAVIDA.<br><br>
            FREEPHONE:+1 800 559 6580<br>
			TELEPHONE:+1 800 603 6035<br>
			FAX:+1 800 889 9898<br>
			E-MAIL: <a href="javascript:void(0)">MAIL@DEMOLINK.ORG</a>
            </p>
    </div>
</div>
 <div class="clear"></div>