@{
    
    Layout = "~/Views/Shared/_LayoutHomeNew.cshtml";
}

<title>EMPMGMT Deployment | Features </title>

<div class="video wrapper">
  <div class="video-section"> <a href="javascript:void()"><img src="~/Content/images/video.png" alt="" title="play"></a> </div>
</div>
<div class="contant-section wrapper">
<p class="heading">Complete solutions for policy deployment and KPI tracking</p>
<div class="all-featur">
	<p>View all features</p>
</div>
	<div class="contant">
      <ul>
        <li class="Policy">
        	<h2>Policy Deployment</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Action-Items">
        	<h2>Action Items</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Dashboard">
        	<h2>Metrics & Matrix Dashboard</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Root">
        	<h2>Root Cause and Analysis</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Business">
        	<h2>Business Dashboard</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Structure">
        	<h2>Organization Structure</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="User">
        	<h2>User and Role Management</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Kpi">
        	<h2>KPI Deployment & Tracking</h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <li class="Export-various">
        	<h2>Export to various formats </h2>
            <span class="button2"><input type="button" value="Read More" /></span>
        </li>
        <div class="clear"></div>
      </ul>
  	</div>
</div>