@{
    
    Layout = "~/Views/Shared/_LayoutHomeNew.cshtml";
}
<title>EMPMGMT Deployment | Home</title>
  <div style="width: 1080px; margin: 0px auto; position: relative;">
<div class="home" style="position: absolute; width: 1030px; top: -450px;"><a href="javascript:void(0)">      
      <div class="heading-kpi">
        <h2 class="tupper">Innovative tools for EMPMGMT <br /> and KPI
                     deployment</h2>
         <a href="/Register"><input value="Register for free account"  type="button"></a>
      </div>
    </a></div></div>
    <div class="midd-section"><a href="javascript:void(0)">
  </a><div class="midd-icon wrapper"><a href="javascript:void(0)">
    <p class="Policy-deployment">Policy deployment is made easy 
      with the automated tools and smart reporting.</p>
    </a><ul class="icon">
      <li><a href="javascript:void(0)"><img src="~/content/images/goalHome.png" alt="" title=""></a><br>
        <strong>Goal Deployment</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipi-
          scing elit. Ae-nean sit amet facilisis tempor 
          nibh. Lorem ipsum dolor sit amet 
          consectetur  adipiscing elit. </p>
        <input value="Read More" type="button">
      </li>
      <li> <a href="javascript:void(0)"><img src="~/content/images/kpiHome.png" alt="" title=""></a> <strong>KPI Tracking</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipi-
          scing elit. Ae-nean sit amet facilisis tempor 
          nibh. Lorem ipsum dolor sit amet 
          consectetur  adipiscing elit. </p>
        <input value="Read More" type="button">
      </li>
      <li> <a href="javascript:void(0)"><img src="~/content/images/action.png" alt="" title=""></a> <strong>Action plans</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipi-
          scing elit. Ae-nean sit amet facilisis tempor 
          nibh. Lorem ipsum dolor sit amet 
          consectetur  adipiscing elit. </p>
        <input value="Read More" type="button">
      </li>
      <li> <a href="javascript:void(0)"><img src="~/content/images/organization.png" alt="" title=""></a> <strong>organization management</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipi-
          scing elit. Ae-nean sit amet facilisis tempor 
          nibh. Lorem ipsum dolor sit amet 
          consectetur  adipiscing elit. </p>
        <input value="Read More" type="button">
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>
<div class="client-section wrapper">
  <p class="customer">Meet Our Happy Customers</p>
  <div class="frist-box">
    <p><strong>“</strong> <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
      the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy 
      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
      ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> </p>
  </div>
  <div class="frist-box">
    <p><strong>“</strong> <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
      the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy 
      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
      ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> </p>
  </div>
  <div class="frist-box">
    <p><strong>“</strong> <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
      the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy 
      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
      ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> </p>
  </div>
  <div class="clear"></div>
  <div class="clients"> <img src="~/content/images/client.png" alt="" title="">
    <p><strong>Lorem Ipsum</strong></p>
  </div>
  <div class="clients"> <img src="~/content/images/client2.png" alt="" title="">
    <p><strong>Lorem Ipsum</strong></p>
  </div>
  <div class="clients"> <img src="~/content/images/client3.png" alt="" title="">
    <p><strong>Lorem Ipsum</strong></p>
  </div>
  <div class="clear"></div>
</div>