@{
   
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
@{
    ViewBag.Title = "Dashboard";
}

<h2>Home</h2>
<style>
    .underconstruction { width: 100%; height: 100%; }
    .background { background-image: url("/content/images/undercontruction_.jpg"); background-position: center center; background-repeat: no-repeat;  height: 500px; }
</style>

<div class="underconstruction">
    <div class="background"></div>
</div>

