@using EMPMGMT.Web.Infrastructure;
@using Recaptcha.Web.Mvc;
@using EMPMGMT.Utility;
@model EMPMGMT.Web.ViewModels.UserVM
@{
    ViewBag.Title = "User_Form";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>User Form</h2>
